body {
  margin: 0;
  font-family: 'Lucida Console';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}

code {
  font-family: "Lucida Console", Courier,
    monospace;
}

.card {
  background-color: blue;
  height: 100%;
  justify-content: space-evenly;
}

#root {
  display: grid;
  height: auto;
  align-content: space-evenly;
  /* justify-content: space-evenly; */
}
